<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

table,
td {
    border: 0px solid #333;
}

thead,
tfoot {
    background-color:#b33c00;
    color: #fff;
}

.centered {
  position: absolute;
  top: 50%;
  left:53%;
  transform: translate(-50%, -50%);
}

.container {
  border-radius: 50px;
  background-color: #f2f2f2;
  padding: 20px;
  top: 200;
  opacity:0.85;
}

.blink {
      animation: blinker 2s linear infinite;
      }
	     @keyframes blinker {  
      50% { opacity: 0; }
      }
	  
</style>
</head>
</body>
</html>