body {
background-color: #d9ffff;
margin:0;
font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top:50;
  left:0;
  width:100%;
}

.navbar a {
  font-size:25px;
  padding:14px;
  color:#333300;
  text-align:center;
  text-decoration: none;
  width:50px;
  height:0px;
}

.navbar a:hover{
  background-color:#f5f0b8;
}

.myVideo {
  position:fixed;
  right:0;
  bottom:0;
  max-width:100%; 
  max-height:100%;
}

.content {
  position:fixed;
  top:-50;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  padding:50px;
}

.centered {
  position: absolute;
  top: 50%;
  left:53%;
  transform: translate(-50%, -50%);
}

.glow {
  font-size:30px;
  color: #fff;
  text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



